/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
  /* index.html */

  .titulo-texto h1 {
    font-size: 25px;
  }

  .endereco img {
    width: auto;
    height: 200px;
    border-radius: 8px;
  }

  .social ul li a {
    font-size: 18px;
  }

  .social ul li .telefone:hover,
  .social ul li .whatsapp:hover,
  .social ul li .facebook:hover,
  .social ul li .instagram:hover {
    font-size: 20px;
  }

  .roda-pe h3 {
    text-align: left;
  }

  /* nav */
  .navegation .conteudo {
    padding: 0;
  }

  .navegation img {
    height: 60px;
    width: auto;
  }

  .navegation a {
    padding: 5px 10px;
  }

  .navegation.active {
    opacity: 1;
  }

  .navegation.active .container {
    padding: 10px 0;
  }
  .endereco {
    height: 450px;
  }
  /* contato.html */
  .form-container {
    margin: 10px auto;
  }

  .form-container h1 > span {
    margin-bottom: 15px;
  }

  .form-container .inner-wrap {
    padding: 10px;
    margin-bottom: 5px;
  }

  .inner-wrap-text {
    padding: 5px;
    margin-bottom: 10px;
  }

  .form-container .secao-form {
    display: none;
  }

  .form-container .secao-form span {
    display: none;
  }
  .img-03 {
    height: 500px;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .conteudo {
    padding: 0 15px;
  }

  .titulo-texto h1 {
    font-size: 26px;
    letter-spacing: 1.5px;
  }

  .titulo-texto h2 {
    letter-spacing: 1px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sobre-nos h3 {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .sobre-nos {
    margin-top: 40px;
    margin-bottom: 60px;
    height: auto;
  }

  ul {
    font-size: 17px;
  }

  .endereco img {
    height: 100px;
  }

  .endereco {
    height: auto;
  }

  .roda-pe {
    overflow: clip;
  }
  .roda-pe .grid {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .roda-pe img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .endereco .grid {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  /* grid areas */

  .endereco {
    text-align: center;
  }
  .endereco-endereco-titulo {
    grid-area: endereco-endereco-titulo;
  }

  .endereco-horarios-titulo {
    grid-area: endereco-horarios-titulo;
  }

  .endereco-horarios {
    grid-area: endereco-horarios;
  }

  .endereco-imagem {
    grid-area: endereco-imagem;
  }

  .endereco-social {
    grid-area: endereco-social;
  }
  .endereco .grid {
    grid-template-areas:
      'endereco-endereco-titulo'
      'endereco-endereco'
      'endereco-horarios-titulo'
      'endereco-horarios'
      'endereco-imagem'
      'endereco-social';
  }
  .endereco img {
    width: 100%;
    height: auto;
  }

  .roda-pe button {
    padding: 8px 15px;
    margin: 5px;
    font-size: 15px;
    color: #fff;
  }
  .roda-pe {
    height: auto;
  }
}
